*{
    margin: 0;
    padding: 0;
}

.container{
   background: #7ba9ab;
background: linear-gradient(0deg, rgba(123, 169, 171, 1) 0%, rgba(253, 187, 45, 1) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 300px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: rgb(239, 239, 230);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box #img1{
    width: 200px;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.box h2{
    font-size: 0.6rem;
    font-weight: bold;

}

.box p{
    font-size: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.box .plate{
    height: 34px;
    width: 170px;
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box .plate img{
    height: 24px;
    width: 24px;
    border: 0;
    position: relative;
    left: 4.5px;
}

.box .plate .text{
    display: flex;
    flex-direction: column;
}

.box .plate .text h5{
    position: relative;
    font-size: 0.4rem;
    left: 10px;
}

.box .plate h5{
    position: relative;
    left: 70px;
    font-size: 0.5rem;
}

.box  .noti{
    height: 34px;
    width: 170px;
    background: #c97197;
    background: #282382;
    background: linear-gradient(90deg, rgba(40, 35, 130, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .noti h3{
    font-size: 0.4rem;
    color: white;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
}

.box h4{
    font-size: 0.6rem;
}