@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
  --primary-color: #6366f1;
  --accent-color: #f33f8f;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

.header_content{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

.logoicon{
    height: 5.875rem;
    width: 1.938rem;
}

.logotext{
    font-size: 2rem;
}

.nav{
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width:768px){
    .nav{
        display: flex;
    }
}

.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover{
    color: var(--link-color);
}

.contact_button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color:  var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width:768px){
    .contact_button{
        display: block;
    }
}

.contact_button:hover{
    background-color: #5254f8;
}

.menu_button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 1rem;
}

@media screen and (max-width:768px){
    .menu_button{
        display: block;
    }
}

.menu_icon{
    height: 1.5rem;
    width: 1.5rem;
}

.hero{
    animation: slideFromLeft 1s ease-out forwards;
}

@keyframes slideFromLeft {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}





.main-section{
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 2s ease forwards;
}

@keyframes slideFromLeft {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 100;
    }
}


.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}


.section-description{
    color: var(--gray);
    font-size: 1.1rem;
}

.button-group{
    display: flex;
    padding: 2rem;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.button-group .start-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color:  var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.button-group .tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--dark-gray);
    color:  var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}


.start-button:hover{
    background-color: #5254f8;
}


.tour-button:hover{
    background-color: var(--gray);
}


.content-right{
    display: flex;
    align-self: center;
    justify-content: center;
}


.image-container{
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}

.SectionImage{
    width: 100%;
    height: 100%;
}


@media Screen and (min-width:768px){
    .main-section{
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
    }

    .content-left{
        max-width: 50%;
        text-align: left;
    }

    .section-title{
        padding-left: 0;
    }

    .button-group{
        display: flex;
        justify-content: start;
        padding-left: 0;
    }

    .section-label{
        font-size: 1rem;
    }

    .section-title{
        font-size: 3.5rem;
    }

    .image-container{
        height: 67vh;
    }

    .section-description{
        font-size: 1.1rem;
        color: var(--gray);
        max-width: 75%;
    }
}


.mini-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 2rem;
    border: none;
}

.trust{
    font-size: 2.3rem;
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--light-gray);
    margin-bottom: 10rem;
    padding: 1.8rem 2.5rem;
    animation: slideFromLeft 2s ease forwards;

}


.links .companylogo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}

.companyimg{
    height: 1.5rem;
}

.logo-text{
    font-size: 1rem;
}


@media Screen and (min-width:640px){
    .links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3.6rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--light-gray);
    margin-bottom: 1rem;
    padding: 1.8rem 2.5rem;
    }

    .mini-hero{
        animation: slideFromLeft 2s ease forwards;
    }
}




.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    margin-top: 1rem;
    border: none;
    background-color: var(--light-gray);
    padding: 2.5rem 0;

}

.cards-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.cards-content h2{
    padding-bottom:1rem;
    font-weight: bold;
    font-size: 2.2rem;
}

.cards-content .cards-para{
    color: var(--gray);
    font-weight: 500;
    font-size: 1.1rem;
}

.card-img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgg{
    height: 1.5rem;
    width: 1.5rem;
}

.the-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1.3rem;
    padding-top: 2rem;
}

.card{
    height: 12rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-para{
    max-width: 21.2rem;
    text-align: center;
    font-weight: 400;
}

#card1{
    background-color: #4a90e2;
}

#card2{
    background-color: #ff6289;
}

#card3{
    background-color: #fcbf58;
}

#card4{
    background-color: #44bfc3;
}

#card5{
    background-color: #77b053;
}

#card6{
    background-color: #7d78b1;
}


@media Screen and (max-width:768px){
    .the-cards{
    display: grid;
    grid-template-columns: repeat( 1,1fr);
    column-gap: 1rem;
    row-gap: 1.3rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
}
}







.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}

.testimonial-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}


.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 1.6rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,2);
    border: 1px solid #2563eb;
}


.testimonial-avatar img{
    height: 5rem;
    width: 5rem;
}


.testimmonial-text{
    font-size: 0.875rem;
    color: #555;
}

.testimonial-name{
    font-size: 1rem;
    color: #2563eb;
}

.testimonial-desc{
    font-size: 0.875rem;
    color: #777;
}

@media Screen and (max-width:768px){
    .testimonial-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}
}




.newsletter-container{
    background-color: var(--background-color);
    padding: 2rem;
    max-width: 1280px;
    height: 40vh;
    margin: 0 auto;
}


.newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
}


.news-left{
    width: 50%;
    height: 100%;
}

.news-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: flex-start;
}

.news-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.news-desc{
    text-align: left;
    color: #777;
}

.news-info{
    padding: 0 3rem;
}


.new-form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}


.news-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}


.news-email:focus{
    border: 1px solid #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}