*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 13%, rgba(0, 212, 255, 1) 100%);}

.box{
    border-radius: 10px;
    width: 260px;
    height: 410px;
    background-color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.box img{
    height: 240px;
    width: 240px;
    border-radius: 10px;

}

.box h2{
    font-weight: bold;
    font-size: 1.2rem;
}
