*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    max-width: 65vw;
    padding: 2rem 2rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.header{
    margin-bottom: 2.5rem;
}

.header_title{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
}

.header_description{
    text-align: center;
    max-width: 568px;
    color: rgb(121, 87, 87);
    margin: 0 auto;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.imgs{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(115, 111, 111);
    border-radius: 5px;
}

.card_image-cont{
    position: relative;
    overflow: hidden;
    height: 14rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card_image{
    display: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
        border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card_image_cont:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
    overflow: hidden;
}

.title_card{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(34, 33, 31);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}

.title_card:hover {
    color: rgb(66, 66, 197);
}

.card_desc{
    color: rgb(105, 101, 101);
    font-size: 0.6rem;
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
}

/* .author_avatar{
    height: 2rem;
} */

.author_info span{
    font-size: 1rem;
}

.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.author_avatar_cont{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(153, 148, 148);
    border-radius: 50%;
    background-color: rgb(245, 240, 240);
}

.author_info{
    display: flex;
    flex-direction: column;
}

.author_name{
    color: rgb(109, 109, 225);
}

.author_date{
    color: rgb(134, 125, 125);
}

.card_tag{
    padding: 0.25rem 0.5rem;
}

.card_tag span{
    font-size: 0.9rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.25rem;
    color: grey;
}
